<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/style.js"></script>
  </head>
  <body>
<nav>
  <img src="/images/money.svg">
  <h1><%= title %></h1>
  <img src="/images/list.svg" class="img" id="drop">
  <ul id="down">
    <li><a>Home</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
    <li><a>Invest</a></li>
    <li><a>Testimonies</a></li>
  </ul>

</nav>
<div class="content">
  <div class="para">
<h1>What is BitDoubler</h1>

    <P>Bitcoin Doubler is a fully automated Bitcoin investment platform operating
      with no human intervention. Take full advantage of our fast and legit Bitcoin doubler platform.
      Our automated system gathers information from the blockchain transfers and cryptocurrency exchanges to study and predict
      the Bitcoin price. Our servers open and close thousands of transactions per minute, analyzing the price difference and
      transaction fees, and use that information to double your Bitcoins. Our data centers are located on multiple locations around
      the world so that our system has 100% uptime guaranteed.</P>

</div>

  <div class="para2">
    <h1>Why use our investment platform?</h1>

    <ul>
      <li>Trusted Bitcoin Investment platform with fully automated payouts</li>
      <li>Receive your double Bitcoins in 10 hours</li>
      <li>Only 0.002 BTC minimum and 10 BTC maximum investment limits</li>
      <li>Easy to use interface for both new and experienced investors</li>
      <li>Track your investment with our dynamic table showing most recent transactions</li>
      <li>CDN powered website with SSL security and DDoS protection</li>
      <li>100% uptime with zero chance for a transaction to fail</li>

    </ul>

  </div>

</div>

<h1 class="h1">INSTRUCTIONS ON HOW TO DOUBLE YOUR BITCOINS</h1>
<div class="content2">
<div class="d">
  <center><img src="/images/exit.svg"></center>
<p>1. ENTER YOUR BITCOIN ADDRESS AND PRESS THE BUTTON BELOW</p>
</div>

  <div class="d">
    <center><img src="/images/purse.svg"></center>
    <p>2. DEPOSIT BTC TO THE ADDRESS GIVEN ON THE INVESTMENT PAGE</p>
  </div>

  <div class="d">
    <center><img src="/images/receive.svg"></center>
    <p>3. YOUR DEPOSIT WILL APPEAR IN YOUR ACCOUNT</p>
  </div>

  <div class="d">
    <center><img src="/images/hourglass.svg"></center>
    <p>4. WAIT 10 HOURS FOR YOUR DOUBLE BTC TO ARRIVE</p>
  </div>

</div>



  <center>
    <div class="form">
      <form>
        <center><input type="text" placeholder="Enter your BTC address"></center>
<center><input type="submit" value="DOUBLE MY BITCOINS" class="submit"></center>
      </form>

    </div>

  </center>

  <h1 class="h1stas">BTC DOUBLER STATISTICS:</h1>
<div class="stats">
<div class="statscontent">
 <center><img src="/images/crowdfunding.svg"></center>
 <p>94298.1154</p>
  <p>TOTAL BITCOINS INVESTED</p>
</div>

  <div class="statscontent">
    <center><img src="/images/cash.svg"></center>
    <p>94298.1154</p>
    <p>BTC TOTAL IN PAYOUTS</p>
  </div>

  <div class="statscontent">
    <center><img src="/images/rating.svg"></center>
    <p>100% SUCCESS RATE</p>
    <p>ON ALL TRANSACTIONS</p>
  </div>

</div>

  <h1 class="h1stas">MOST RECENT TRANSACTIONS:</h1>
  <div>
    <CENTER>
      <table>
        <tr>
          <th>TYPE</th>
          <th>DATE</th>
          <th>BTC ADDRESS</th>
          <th>AMOUNT</th>
        </tr>
        <tr>
          <td>Deposit</td>
          <td>9/10/2019</td>
          <td><a href="https://www.blockchain.com/btc/address/">37Prw9LPprs5E7NiCyLv1ak86AumUAtAS5</a> </td>
          <td>0.021<img src="/images/business-and-finance.svg"></td>
        </tr>

      </table>
    </CENTER>


  </div>


<h1 class="h1stas">FREQUENTLY ASKED QUESTIONS (FAQ)</h1>

<div id="flip">
  <img src="/images/plus.svg">
  <h3>Why invest with Bitcoin?</h3>
</div>
<div id="panel">
  <h4>When you invest with Bitcoin, there are multiple benefits:</h4>
<ul>
  <li>Transparency (you stay completely anonymous).</li>
  <li>Easy to make transactions with low fee’s.</li>
  <li>Bitcoin is constantly growing in volume and price, so while you are multiplying your BTC it’s value is growing as well.</li>
</ul>

</div>


<div id="flip2">
  <img src="/images/plus.svg">
  <h3>Can I make more than one investment?</h3>
</div>
<div id="panel2">
  <h4>Yes, you can make as many investments as you like using our Bitcoin doubler.</h4>


</div>



<div id="flip3">
  <img src="/images/plus.svg">
  <h3>What are the investment limits?</h3>
</div>
<div id="panel3">
  <h4>There is a 0.002 BTC minimum and 10 BTC maximum limit for investments on Bitcoin Doubler.</h4>


</div>

<div id="flip4">
  <img src="/images/plus.svg">
  <h3>How does our Bitcoin Doubler work?</h3>
</div>
<div id="panel4">
  <h4>Our BTC Doubler gathers information from the blockchain transfers and cryptocurrency exchanges to study and predict the bitcoin price. Our servers open and close thousands of transactions per minute, analyzing the price difference and transaction fees, and use that information to double your Bitcoins.</h4>


</div>

<div id="flip5">
  <img src="/images/plus.svg">
  <h3>When can I expect my payout?</h3>
</div>
<div id="panel5">
  <h4>You will receive your double BTC after 10 hours, starting to count from the moment of your deposit (after 1 confirmation from the network).</h4>


</div>

<div id="flip6">
  <img src="/images/plus.svg">
  <h3>Where will my double BTC arrive?</h3>
</div>
<div id="panel6">
  <h4>Our system will use your deposit address as the payout address. In case your transaction is consisted of multiple BTC addresses, our system will send your double BTC to the address that is first on the list.</h4>


</div>


  <footer>
    <center><img src="/images/copyright.svg"></center>
   <h4>Copyright BitDoubler 2019</h4>


  </footer>
  </body>
</html>
